<nav aria-label="Постраничная навигация">
    <ul class="pagination mt-3">
        {% for page_num in page_obj.paginator.page_range %}
            {% if page_num == page_obj.number %}
                <li class="page-item active">
                    <span class="page-link">
                        {{ page_num }}
                        <span class="sr-only">(текущая)</span>
                    </span>
                </li>
            {% elif page_num > page_obj.number|add:-3 and page_num < page_obj.number|add:3 %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</nav>